<div>
  <div>
    <h1>
      My Stores
    </h1>
  </div>
</div>

<hr>

<div>
  <div>
    <h2>
    Add a new store
    </h2>

    <form action="/insert_list" method="post">
      <!--User will not be updated on the lists page. Only lists specific to the user will be displayed
      <div>
        <label for="user_id_box">
          User
        </label>

        <input type="text" id="user_id_box" name="query_user_id">
      </div>-->

      <!--Item should be a drop down with values from the item table
      <div>
        <label for="item_id_box">
          Item
        </label>

        <input type="text" id="item_id_box" name="query_item_id">
      </div>-->

      <div>
        <label for="list_name_box">
          Store name
        </label>

        <input type="text" id="list_name_box" name="query_list_name">
      </div>

      <!--<div>
        <label for="date_box">
          Date
        </label>

        <input type="datetime-local" id="date_box" name="query_date">
      </div>

      <div>
        <label for="pantry_id_box">
          Pantry
        </label>

        <input type="text" id="pantry_id_box" name="query_pantry_id">
      </div>-->

      <!--this should be a display only of the count of  items in the list
      <div>
        <label for="items_count_box">
          Items count
        </label>

        <input type="text" id="items_count_box" name="query_items_count">
      </div>-->

      <button>
        Add Store
      </button>
    </form>
  </div>
</div>

<hr>
<div>
  <div>
    <table>
      <tr>
        <th>
          ID
        </th>

        <!--<th>
          User
        </th>

        <th>
          Item
        </th>
        
        <th>
          Date
        </th>
        
        <th>
          Pantry
        </th>-->

        <th>
          Store name
        </th>

        <th>
          Items
        </th>

        <th>
        </th>

        <th>
        </th>

        <!--<th>
          Created at
        </th>

        <th>
          Updated at
        </th>-->

        <th>
        </th>
      </tr>

      <% @list_of_lists.each do |a_list| %>
      <tr>
        <td>
          <%= a_list.id %>
        </td>

        <!--<td>
          <%= a_list.user_id %>
        </td>

        <td>
          <%= a_list.item_id %>
        </td>

        <td>
          <%= a_list.date %>
        </td>
        
        <td>
          <%= a_list.pantry_id %>
        </td>-->

        <td>
          <a href="/lists/<%= a_list.id %>">
            <%= a_list.list_name %>
          </a>
        </td>

        <td></td>

        <td>
          <a href="/view_lists/<%= a_list.id %>">
            View List
          </a>
        </td>

        <td>
          <a href="/delete_list/<%= a_list.id %>">
            Delete
          </a>
        </td>

        <!--<td>
          <%= a_list.items_count %>
        </td>-->

        <!--<td>
          <%= time_ago_in_words(a_list.created_at) %> ago
        </td>
        <td>
          <%= time_ago_in_words(a_list.updated_at) %> ago
        </td>-->

        <!--<td>
          <a href="/lists/<%= a_list.id %>">
            Show details
          </a>
        </td>-->

      </tr>
      <% end %>
    </table>
  </div>
</div>

<hr>
