 <div>
    <h1>
      Grocery list for <%= @the_list.list_name %>
    </h1>
  </div>

  <table border="1">
    <tr>
      <th>Item
      </th>
      <th>Quantity
      </th>
      <th>Quantity unit
      </th>
      <th>Price
      </th>
      <th>
      </th>
    </tr>

    <% @list_item.where({ :user_id => @current_user.id}).each do |each_item|%>
      <% if each_item.pantry_id == false%>
    
        <tr>
      

          <td><%= each_item.item_name %>
          </td>
          <td><%= each_item.quantity %>
          </td>
          <td><%= each_item.quantity_value %>
          </td>
          <td><%= each_item.price %>
          </td>
          <td>
            <form action="/insert_pantry" method="post">            
              <button>Add to Pantry</button>
            </form>
          </td>
      
        </tr>
      <% end %>
    <% end %>
  </table>