<!DOCTYPE html>
<html>
  <head>
    <title>FinalProject</title>
    <%= csrf_meta_tags %>

    <!-- Expand the number of characters we can use in the document beyond basic ASCII 🎉 -->
    <meta charset="utf-8">

    <!-- Make it responsive to small screens -->
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all' %>

  </head>

  <body>
  <div>
      <h1> Grocery Tracker
      </h1>
  </div>
  
  <nav>
    <% if @current_user == nil%>
      <div>
        <a href="/user_sign_up">Sign up</a>
      </div>

      <div>
        <a href="/user_sign_in">Sign in</a>
      </div>

      <% else %>

      <div>
        <a href="/user_sign_out">Sign out</a>
      </div>

      <div>
        <a href="/edit_user_profile">Edit Profile</a>
      </div>

      <div>
        <a href="/lists">My Stores</a>
      </div>

      <div>
        <a href="/pantries">My Pantry</a>
      </div>     
      <div>
        <a href="/items">My Items</a>
      </div>

      <div>
        <h2><%= @current_user.first_name%>
        </h2>
      </div>
    
    <% end %>

  </nav>

  <% flash.each do |type, msg| %>
  <div>
    <%= msg %>
  </div>
<% end %>


    <%= yield %>
  </body>
</html>
